<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mapeo</property>
		<property name="hibernate.connection.username">mapeo</property>
		<property name="hibernate.connection.password">mapeo</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<mapping resource="bd2/Muber/model/usuario.hbm.xml" />
		<mapping resource="bd2/Muber/model/viaje.hbm.xml" />
		<mapping resource="bd2/Muber/model/muber.hbm.xml" />
		<mapping resource="bd2/Muber/model/calificacion.hbm.xml" />

	</session-factory>
</hibernate-configuration>